In [1]:
import pandas as pd
from pandas import json_normalize
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

import requests
import urllib3

%matplotlib inline
pd.set_option('display.max_columns', None)

In [11]:
url_current = "https://api.openweathermap.org/data/3.0/onecall?lat=38.752125&lon=-121.288010&exclude=current,minutely,daily&appid=2f01a2c2a7f1ffcb24807b893d1ba1d2"
req = requests.get(url_current)
print(req.status_code)
w_current = req.json()

200

In [12]:
w_current.keys()

dict_keys(['lat', 'lon', 'timezone', 'timezone_offset', 'hourly'])

In [13]:
w_current_df = json_normalize(w_current['hourly'])

In [14]:
w_current_df

,dt,temp,feels_like,pressure,humidity,dew_point,uvi,clouds,visibility,wind_speed,wind_deg,wind_gust,weather,pop
0,1659639600,308.22,307.33,1009,27,286.43,8.48,12,10000,3.65,202,4.62,"[{'id': 801, 'main': 'Clouds', 'description': ...",0.00
1,1659643200,308.21,307.91,1009,30,288.04,9.23,0,10000,3.66,202,4.38,"[{'id': 800, 'main': 'Clear', 'description': '...",0.00
2,1659646800,308.83,308.16,1009,27,286.95,8.74,13,10000,4.14,204,4.68,"[{'id': 801, 'main': 'Clouds', 'description': ...",0.00
3,1659650400,309.73,308.58,1008,23,285.25,7.16,26,10000,4.45,208,5.21,"[{'id': 802, 'main': 'Clouds', 'description': ...",0.00
4,1659654000,310.75,309.51,1008,21,284.71,4.95,32,10000,4.45,198,4.93,"[{'id': 802, 'main': 'Clouds', 'description': ...",0.00
5,1659657600,311.11,309.35,1007,18,282.70,2.74,38,10000,5.36,192,5.08,"[{'id': 802, 'main': 'Clouds', 'description': ...",0.00
6,1659661200,309.27,307.20,1007,18,281.37,1.15,60,10000,5.78,199,6.20,"[{'id': 803, 'main': 'Clouds', 'description': ...",0.00
7,1659664800,306.21,304.22,1007,21,281.19,0.31,73,10000,4.88,201,6.69,"[{'id': 803, 'main': 'Clouds', 'description': ...",0.00
8,1659668400,302.76,301.31,1009,26,281.30,0.00,82,10000,4.02,177,5.99,"[{'id': 803, 'main': 'Clouds', 'description': ...",0.00
9,1659672000,300.32,299.68,1009,30,281.34,0.00,87,10000,3.87,160,5.91,"[{'id': 804, 'main': 'Clouds', 'description': ...",0.00
10,1659675600,298.81,298.29,1010,33,281.28,0.00,78,10000,3.86,152,6.13,"[{'id': 803, 'main': 'Clouds', 'description': ...",0.00
11,1659679200,297.80,297.23,1010,35,281.21,0.00,81,10000,3.84,152,6.22,"[{'id': 803, 'main': 'Clouds', 'description': ...",0.00
12,1659682800,297.07,296.46,1010,36,281.04,0.00,100,10000,3.67,152,6.09,"[{'id': 804, 'main': 'Clouds', 'description': ...",0.00
13,1659686400,296.18,295.53,1010,38,281.14,0.00,100,10000,4.08,157,6.67,"[{'id': 804, 'main': 'Clouds', 'description': ...",0.00
14,1659690000,295.05,294.39,1010,42,281.40,0.00,95,10000,4.03,158,6.92,"[{'id': 804, 'main': 'Clouds', 'description': ...",0.00
15,1659693600,294.30,293.67,1010,46,282.04,0.00,95,10000,3.85,158,6.75,"[{'id': 804, 'main': 'Clouds', 'description': ...",0.00
16,1659697200,293.76,293.10,1010,47,281.95,0.00,93,10000,3.61,149,6.12,"[{'id': 804, 'main': 'Clouds', 'description': ...",0.00
17,1659700800,293.35,292.68,1011,48,282.08,0.00,82,10000,3.86,150,6.53,"[{'id': 803, 'main': 'Clouds', 'description': ...",0.00
18,1659704400,292.84,292.22,1011,52,282.51,0.00,60,10000,3.73,153,6.39,"[{'id': 803, 'main': 'Clouds', 'description': ...",0.12
19,1659708000,293.02,292.45,1012,53,283.14,0.21,62,10000,3.63,157,6.27,"[{'id': 803, 'main': 'Clouds', 'description': ...",0.07
20,1659711600,294.38,293.89,1013,51,283.71,0.89,74,10000,3.96,163,6.30,"[{'id': 803, 'main': 'Clouds', 'description': ...",0.07
21,1659715200,296.32,295.92,1013,47,284.50,2.29,81,10000,3.98,177,6.23,"[{'id': 803, 'main': 'Clouds', 'description': ...",0.07
22,1659718800,298.61,298.39,1013,45,285.83,4.31,83,10000,3.75,194,5.70,"[{'id': 803, 'main': 'Clouds', 'description': ...",0.07
23,1659722400,301.02,300.70,1013,40,286.21,6.49,81,10000,3.64,203,4.73,"[{'id': 803, 'main': 'Clouds', 'description': ...",0.03
24,1659726000,303.24,302.23,1013,33,285.22,8.63,45,10000,3.42,203,3.97,"[{'id': 802, 'main': 'Clouds', 'description': ...",0.00
25,1659729600,305.03,303.62,1012,28,284.24,9.39,29,10000,3.34,205,3.87,"[{'id': 802, 'main': 'Clouds', 'description': ...",0.00
26,1659733200,306.36,304.88,1011,26,284.20,8.89,40,10000,3.53,210,4.10,"[{'id': 802, 'main': 'Clouds', 'description': ...",0.00
27,1659736800,307.21,305.88,1010,26,284.76,7.03,32,10000,4.04,216,4.57,"[{'id': 802, 'main': 'Clouds', 'description': ...",0.00
28,1659740400,307.16,305.96,1010,27,285.52,4.84,46,10000,4.54,224,4.89,"[{'id': 802, 'main': 'Clouds', 'description': ...",0.00
29,1659744000,306.60,305.56,1010,29,286.09,2.68,42,10000,4.86,228,4.79,"[{'id': 802, 'main': 'Clouds', 'description': ...",0.00
30,1659747600,305.68,304.71,1010,31,286.38,1.14,4,10000,4.55,225,4.66,"[{'id': 800, 'main': 'Clear', 'description': '...",0.00
31,1659751200,304.14,303.28,1010,34,286.68,0.30,43,10000,4.28,223,4.65,"[{'id': 802, 'main': 'Clouds', 'description': ...",0.00
32,1659754800,301.29,301.01,1010,41,286.69,0.00,62,10000,3.97,213,5.79,"[{'id': 803, 'main': 'Clouds', 'description': ...",0.00
33,1659758400,298.58,298.41,1011,47,286.35,0.00,61,10000,3.56,178,5.39,"[{'id': 803, 'main': 'Clouds', 'description': ...",0.00
34,1659762000,296.89,296.63,1012,50,285.64,0.00,66,10000,3.38,162,5.12,"[{'id': 803, 'main': 'Clouds', 'description': ...",0.00
35,1659765600,295.54,295.19,1013,52,285.13,0.00,68,10000,3.32,152,5.17,"[{'id': 803, 'main': 'Clouds', 'description': ...",0.00
36,1659769200,294.59,294.20,1013,54,284.76,0.00,100,10000,3.50,153,5.46,"[{'id': 804, 'main': 'Clouds', 'description': ...",0.00
37,1659772800,293.51,293.06,1013,56,284.24,0.00,89,10000,3.53,158,5.71,"[{'id': 804, 'main': 'Clouds', 'description': ...",0.00
38,1659776400,292.55,292.06,1013,58,283.94,0.00,93,10000,3.34,153,5.53,"[{'id': 804, 'main': 'Clouds', 'description': ...",0.00
39,1659780000,291.85,291.34,1013,60,283.83,0.00,90,10000,3.31,151,5.35,"[{'id': 804, 'main': 'Clouds', 'description': ...",0.00
40,1659783600,291.25,290.73,1013,62,283.74,0.00,78,10000,3.25,156,5.22,"[{'id': 803, 'main': 'Clouds', 'description': ...",0.00
41,1659787200,290.74,290.23,1013,64,283.67,0.00,65,10000,3.09,152,5.11,"[{'id': 803, 'main': 'Clouds', 'description': ...",0.00
42,1659790800,290.31,289.80,1014,66,283.68,0.00,0,10000,2.89,155,4.72,"[{'id': 800, 'main': 'Clear', 'description': '...",0.00
43,1659794400,290.58,290.05,1014,64,283.73,0.21,0,10000,2.69,156,4.44,"[{'id': 800, 'main': 'Clear', 'description': '...",0.00
44,1659798000,292.59,292.05,1015,56,283.53,0.92,0,10000,2.63,156,3.57,"[{'id': 800, 'main': 'Clear', 'description': '...",0.00
45,1659801600,295.00,294.47,1015,47,283.12,2.39,0,10000,2.44,169,2.87,"[{'id': 800, 'main': 'Clear', 'description': '...",0.00
46,1659805200,297.65,297.17,1015,39,282.56,4.50,0,10000,2.38,194,2.38,"[{'id': 800, 'main': 'Clear', 'description': '...",0.00
47,1659808800,300.12,299.63,1014,32,282.04,6.79,0,10000,2.54,211,2.44,"[{'id': 800, 'main': 'Clear', 'description': '...",0.00